body {
  background-color: #FFFFFF;
  font-family: "Inter", sans-serif;
  color: #4B5563;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
  color: #111827;
}

* {
  box-sizing: border-box;
}